@charset "UTF-8";


div#MwcPayWooCommerceExtension_checkout_modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
	flex-direction: column;
	justify-content: center;
	margin-top: 0;
	margin-bottom: 0;
	padding: var(--wp--preset--spacing--50, min(6.5rem, 8vw));
	z-index: 1000;
}

div#MwcPayWooCommerceExtension_checkout_modal.MwcPayWooCommerceExtension_checkout_hide {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

div#MwcPayWooCommerceExtension_checkout_modal > div:first-of-type {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.5;
	z-index: 0;
	background-color: var(--wp--preset--color--black, black);
}

div#MwcPayWooCommerceExtension_checkout_modal.MwcPayWooCommerceExtension_checkout_invert > div:first-of-type {
	opacity: 0.3;
	filter: invert(1);
}

div#MwcPayWooCommerceExtension_checkout_modal > div:last-of-type {
	border-radius: var(--wp--preset--spacing--10, 0);
	padding: min(2rem, 5vw) min(1rem, 2vw);
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: var(--wp--preset--color--base, #808080);
	border-width: 1px;
	border-style: solid;
	box-shadow: var(--wp--preset--shadow--natural, 6px 6px 9px rgba(0, 0, 0, 0.2));
	position: relative;
	z-index: 1;
	border-color: var(--wp--preset--color--contrast-2, #636363);
	width: 100%;
	max-width: 50em;
}

div#MwcPayWooCommerceExtension_checkout_modal > div > p {
	padding-right: var(--wp--preset--spacing--30, min(2.5rem, 3vw));
	padding-left: var(--wp--preset--spacing--30, min(2.5rem, 3vw));
}

div#MwcPayWooCommerceExtension_checkout_modal > div > p > bdi {
	cursor: text;
}

div#MwcPayWooCommerceExtension_checkout_modal > div > p > bdi:not(.MwcPayWooCommerceExtension_checkout_ignore) > span {
	cursor: copy;
}

div#MwcPayWooCommerceExtension_checkout_modal > div > p > bdi:not(.MwcPayWooCommerceExtension_checkout_ignore) > span.MwcPayWooCommerceExtension_checkout_copied {
	pointer-events: none;
	opacity: 0.5;
}

div#MwcPayWooCommerceExtension_checkout_modal > div > p > bdi:not(.MwcPayWooCommerceExtension_checkout_ignore) > a, div#MwcPayWooCommerceExtension_checkout_modal > div > p:last-of-type > span {
	word-break: break-all;
}

div#MwcPayWooCommerceExtension_checkout_modal > div > img {
	width: 100%;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	max-height: 100%;
	min-height: 10em;
	object-fit: contain;
	margin-block-start: 0;
	margin-block-end: 0;
	max-width: 18em;
	display: flex;
	margin: 0 auto;
	mix-blend-mode: multiply;
}

div#MwcPayWooCommerceExtension_checkout_modal:not(.MwcPayWooCommerceExtension_checkout_qrcode) > div > img {
	display: none;
}

div#MwcPayWooCommerceExtension_checkout_modal.MwcPayWooCommerceExtension_checkout_invert > div > img {
	filter: invert(1);
	mix-blend-mode: screen;
}

div#MwcPayWooCommerceExtension_checkout_modal.MwcPayWooCommerceExtension_checkout_qrcode > div > p:first-of-type {
	margin-block-end: 0;
	margin-bottom: 0;
}

div#MwcPayWooCommerceExtension_checkout_modal.MwcPayWooCommerceExtension_checkout_qrcode > div > img + * {
	margin-block-start: 0;
	margin-top: 0;
}

div#MwcPayWooCommerceExtension_checkout_modal > div > div:nth-of-type(2) {
	flex-direction: column;
	justify-content: center;
}

div#MwcPayWooCommerceExtension_checkout_modal > div > div:last-of-type {
	height: min(0.7rem, 2.4vw);
}

span#MwcPayWooCommerceExtension_checkout_total.MwcPayWooCommerceExtension_checkout_hide {
	display: none;
}

#order_review:has(#payment_method_mwc_pay:checked) span#MwcPayWooCommerceExtension_checkout_total {
	display: initial;
}

.wc-block-checkout:has(#radio-control-wc-payment-method-options-mwc_pay:checked) span#MwcPayWooCommerceExtension_checkout_total {
	display: initial;
}
